<IfModule mod_rewrite.c>

  RewriteEngine On

  Header set Access-Control-Allow-Origin '*'

#  RewriteCond %{HTTP_HOST} ^(WWW.)?online-shop.uareg.com$
#
#  RewriteCond %{REQUEST_URI} !^/public/
#
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d


  RewriteRule ^(.*) public/$1
  RewriteRule ^(/)?$ public/index.php [L]

</IfModule>
