// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';

:root {
    --v-progress-linear-color: green;

    --v-app-bar-gradient-light:  to right, rgba(69,71,58,1), rgba(78,88,30,1);
    --v-app-bar-gradient-dark:  to right, rgba(19,20,20,1), rgba(56,70,71,1);

    --v-navigation-drawer-list-item-title-hover-color: #333;

    --v-button-width: 45px;
    --v-button-height: 45px;
}

//a:hover, a:active, a:focus {
//    color: #666;
//}
